@(username: String)(faqs: List[FAQ])

@import helper._

@main("Welcome to bitCoupon") {

<header id="header">
   <!--header-->
   <div class="header-middle">
      <!--header-middle-->
      <div class="container">
         <a href="/"><img src="http://res.cloudinary.com/bitfiles/image/upload/v1430750951/staticImages/logo.png" alt="" /></a>
         <div class="logo pull-right">
            <div class="search_box">
               <form action="/search" method="GET">
                  <input id="q" name="q" type="text" placeholder="Search" />
               </form>
            </div>
         </div>
      </div>
   </div>
      <div class="header-bottom">
         <!--header-bottom-->
         <div class="container">
            <div class="row">
               <div class="col-sm-9">
                  <div class="navbar-header">
                     <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                     <span class="sr-only">@Messages("togleNavigation")</span>
                     <span class="icon-bar"></span>
                     <span class="icon-bar"></span>
                     <span class="icon-bar"></span>
                     </button>
                  </div>
                  <div class="mainmenu pull-left">
                     <ul class="nav navbar-nav collapse navbar-collapse">
                        <li><a href="/">@Messages("home")</a></li>
                        @if(Sesija.adminCheck(ctx()) == true) {						                            
                        <li><a href="/addFAQ">@Messages("newFaq")</a></li>
                        }
                     </ul>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </header>
   </section>
   <div class="container">
      <div class="col-sm-12">
         <div class="features_items">
            <!--features_items-->
            <h2 class="title text-center">FAQ</h2>
             <div class="col-sm-8">
            @for(currentFAQ <- faqs){
            <div class="product-image-wrapper">
               <div class="single-products">
                  <div class="productinfo text-center">
                     <h2> @currentFAQ.question </h2>
                     <p> @currentFAQ.answer </p>
                     @if(Sesija.adminCheck(ctx()) == true) { 
                     <td> <a href="@routes.FAQController.editFAQView(currentFAQ.id)" class="btn btn-default">@Messages("edit")</a></td>
                     <td> <a href="@routes.FAQController.deleteFAQ(currentFAQ.id)" onclick="return confirm('Are you sure you want to delete this question?');"class="btn btn-danger">@Messages("delete")</a></td>
                     }  
                  </div>
               </div>
            </div>
            }			
         </div>
      </div>
   </div>
  </div>
}
