@(coupon: Coupon, user: User)

@import models.comments._
@import models._
@import java.math.BigInteger; var i=0
@main("Welcome to bitCoupon") {
	
<header id="header">
<link href="@routes.Assets.at("css/star-rating.css")" rel="stylesheet">
      <link href="@routes.Assets.at("css/star-rating.min.css")" rel="stylesheet">
      <script src="@routes.Assets.at("js/star-rating.js")"></script>
      <script src="@routes.Assets.at("js/star-rating.min.js")"></script>
      




<div class="container">
   <div class="col-sm-12">
	
        	
       
        @if(Sesija.adminCheck(ctx()) == false && Sesija.companyCheck(ctx()) == false && Sesija.getCurrent(ctx()) != null){
               @if(CouponController.isExpired(coupon.id)==false && coupon.maxOrder > 0) {        	               	
        	   <label>Enter the amount of coupons </label>
               <form action="/couponpurchase" method="POST" data-paypal-button="true">
                  <input type="text" id="user_id" name="user_id" value=@user.id hidden/>
                  <input type="text" id="coupon_id" name="coupon_id" value="@coupon.id" hidden/>
                  <input type="number" step="1" id="quantity" name="quantity" min="1" max=@coupon.maxOrder placeholder="0" required/>
                  <button type="submit" id="submit-buy" >
                  <img src="//www.paypalobjects.com/en_US/i/btn/btn_xpressCheckout.gif" alt="Check out with PayPal" />
                  </button>
               </form>
               }
		}
 
         
</div>

</div> 


}
