@(curUser: SuperUser)(coupon: Coupon)(details: List[String])

@import helper._
<html>
	<head>
		<title>Transaction Approve</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<link type="text/css" rel="stylesheet" href="@routes.Assets.at("css/materialize.min.css")"  media="screen,projection"/>
		<link type="text/css" rel="stylesheet" href="@routes.Assets.at("css/style.css")" >
	 </head>
	<body>
		<!-- jQuery is required by Materialize to function -->
		 <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
		 <script type="text/javascript" src="js/materialize.min.js"></script>
         <div  style="color: #619DCF ; background-color: #E2E2D9;  padding-top: 10px; width:100%; height:40px; text-align: center;  font-size: 20px" class="col s12">Transaction Approve</div>
         <br>
      
      <div class="container">
         <div  class="col s12">
            <div class="paypal-info">
               @for( info <- details ){
               <p>
                  @info 
               </p>
               }	
               <form class="paypal-approve">
                  <button  type="submit" class="btn disabled" formaction="@routes.PayPalController.approveTransaction()">Approve</button>
                  <button style="margin-top: 5px"  type="submit" class="btn disabled" formaction="/api/backToMobile" >Cancel transaction</button>
               </form>
            </div>
            <br>
            <div class="product-information">
               <!--/product-information-->
               <h4 style="color: #FE980F; font-style: bold; text-align: center; font-size: 15px"> @coupon.name </h4>
               <span style="color: #FE980F; font-style: bold;">Price: @coupon.getPriceString() KM</span>
               <div>				
                  <span disabled rows="1">Expiration: @coupon.getExpiration()</span>
               </div>
            </div>
         </div>
      </div>
   </body>
</html>
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	



