@(coupon: Coupon, user: User)

@import models.comments._
@import models._
@import java.math.BigInteger; var i=0
 
<html>
	<head>
	
		<title>@Messages("checkoutCoupons")</title>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<meta charset="utf-8">
		<link type="text/css" rel="stylesheet" href="@routes.Assets.at("css/materialize.min.css")"  media="screen,projection"/>
		<link type="text/css" rel="stylesheet" href="@routes.Assets.at("css/style.css")" >
	
	</head>
	
	<body>
		<!-- jQuery is required by Materialize to function -->
		<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
		<script type="text/javascript" src="js/materialize.min.js"></script>
		<link href="@routes.Assets.at("css/star-rating.css")" rel="stylesheet">
		<link href="@routes.Assets.at("css/star-rating.min.css")" rel="stylesheet">
		<script src="@routes.Assets.at("js/star-rating.js")"></script>
		<script src="@routes.Assets.at("js/star-rating.min.js")"></script>
	 
		<div  style="color: #619DCF; background-color: #E2E2D9;  padding-top: 10px; width:100%; height:20px; text-align: center;  font-size: 10px; font-family: 'Arial' " class="col s12">@Messages("couponAmount")</div>
		
		<div class="container">
			<a href="/"><img style="width:95%; margin-top:20px" src="@routes.Assets.at("images/home/logo.png")" alt="" /></a>
	   		<div style="margin: 15%" class="col s12">
	       	<br><br>
	        @if(Sesija.adminCheck(ctx()) == false && Sesija.companyCheck(ctx()) == false && Sesija.getCurrent(ctx()) != null){
	               @if(CouponController.isExpired(coupon.id)==false && coupon.maxOrder > 0) {        	               	
	        	   <p style="font-size: 15px">@Messages("enterAmountOfCoupons") </p>
	               <form action="/couponpurchase" method="POST" data-paypal-button="true">
	                  <input type="text" id="user_id" name="user_id" value=@user.id hidden/>
	                  <input type="text" id="coupon_id" name="coupon_id" value="@coupon.id" hidden/>
	                  <input type="number" step="1" id="quantity" name="quantity" min="1" max=@coupon.maxOrder placeholder="0" required/>
	                  <br><br>
	                  <button type="submit" id="submit-buy" >
	                  <img src="//www.paypalobjects.com/en_US/i/btn/btn_xpressCheckout.gif" alt="Check out with PayPal" />
	                  </button>
	               </form>
	               }
			}
	  
			</div>
	 	</div> 
	</body>
</html>

	
	
	









