@(username: String)(transactions: List[TransactionCP])
 
@import helper._

@if(Sesija.getCurrentUser( ctx() ) != null ){
@main("Coupon List") {
	<header>
	 <script src="@routes.Assets.at("js/jspdf.js")"></script>
      <script src="@routes.Assets.at("js/jspdf.plugin.from_html.js")"></script>
      <script src="@routes.Assets.at("js/jspdf.plugin.split_text_to_size.js")"></script>
      <script src="@routes.Assets.at("js/jspdf.plugin.standard_fonts_metrics.js")"></script>
      <script src="@routes.Assets.at("js/FileSaver.js")"></script>
     <script src="@routes.Assets.at("js/FileSaver.min.js")"></script>     
     </header>
		<div class="header-middle"><!--header-middle-->
			<div class="container">
				<div class="row">
					<div class="col-sm-4">
						<div class="logo pull-left">
							<a href="/"><img src="@routes.Assets.at("images/home/logo.png")" alt="" /></a>
						</div>
					</div>
				</div>
			</div>
			<div class="header-bottom"><!--header-bottom-->
			<div class="container">
				<div class="row">
					<div class="col-sm-9">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
						</div>
						<div class="mainmenu pull-left">
							<ul class="nav navbar-nav collapse navbar-collapse">
								<li><a href="@routes.SuperUserController.profilePage(username)">Back to Profile</a></li>
							</ul>
						</div>
						
					</div>
				</div>
			</div>
			</div>
		</header>
	</section>

	<div class="container">		
				@for(transaction <- transactions){
					
						<div class="col-sm-4">
						<div class="logo pull-left">
							<div class="product-image-wrapper">
								<div class="single-products">
									<div class="productinfo text-center">
									<img src="@routes.Assets.at(transaction.coupon.picture)" alt="@routes.Assets.at(transaction.coupon.picture)"/>
									<div id="content" class="divContent">
										<ul class="col-md-12" style="text-align: left;list-style: none;" >
											<br>
											<p><strong>Coupon name: </strong> @transaction.coupon.name</p>
											<p><strong>Buyer: </strong> @username</p>
											<p><strong>Seller:</strong> @transaction.coupon.seller.name</p>											
											<p><strong>Coupon price:</strong> @transaction.coupon.getPriceString()</p>
											<p><strong>Quantity:</strong> @transaction.quantity</p>
											<p><strong>Total price:</strong> @transaction.totalPrice</p>
											<p><strong>Transaction date:</strong> @transaction.getDateString</p>
											<p><strong>Payment id:</strong> @transaction.payment_id</p>
											<p><strong>Token:</strong> @transaction.token</p>
										</ul>
										</div>
            								<button id="cmd"  class="btnCmd" style="float:left">Download as PDF</button>
									</div>
								</div>
							</div>
						</div>
						</div>
			}			
			</div>
		</div>
	</section><!--/form-->
</div>

					<script>
					$('.btnCmd').each(function(){
						$(this).click(function () {
							var doc = new jsPDF();
							var specialElementHandlers = {
								    '#editor': function (element, renderer) {
								        return true;
								    }
								};
						    doc.fromHTML($('.divContent').eq($('.btnCmd').index(this)).html(), 0, 0, {
						        'width': 170,
						            'elementHandlers': specialElementHandlers
						    });
						    doc.save('bought-coupon.pdf');
						});
					});
					</script>
}
} else {
@main("Login to Complete"){
	<div class="container">
		<div class="col-md-5 col-md-offset-3">
			<h1> :( You need to login to access this page.</h1>
		</div>
	</div>
}

}
	
