@(curUser: SuperUser)(coupon: Coupon)(details: List[String])

@import helper._

@main("Welcome to bitCoupon") {
<header id="header">
   <!--header-->
   <div class="header-middle">
      <!--header-middle-->
      <div class="container">
         <a href="/"><img src="@routes.Assets.at("images/home/logo.png")" alt="" /></a>
         <div class="logo pull-right">
            <div class="search_box">
               <form action="/search" method="GET">
                  <input id="q" name="q" type="text" placeholder="Search" />
               </form>
            </div>
         </div>
      </div>
   </div>
</header>
<div class="container">
   <div class="paypal-info">
      <ul>
         @for( info <- details ){
         <h2>
            <li> @info </li>
         </h2>
         }	
      </ul>
      <form class="paypal-approve">
         <button  type="submit" class="btn btn-warning" formaction="@routes.PayPalController.approveTransaction()">@Messages("submit")</button>
         <button  type="submit" class="btn btn-default" formaction="/" >@Messages("cancelTransaction")</button>
      </form>
   </div>
   <br>
   <div class="product-information">
      <!--/product-information-->
      <h2> @coupon.name </h2>
      <span>
      <span> @coupon.getPriceString() @Messages("currency")</span>
      <div>				
         <textarea disabled rows="1">@coupon.getExpiration()</textarea>
      </div>
      <br>
      <div>
         <label class="pull-left" >@Messages("description")</label>
         <textarea disabled rows="6" >@coupon.description</textarea>
      </div>
      <br>
      <div>
         <label class="pull-left" >@Messages("remark")</label>
         <textarea disabled rows="4">@coupon.remark</textarea>
         
         <label class="pull-left" >@Messages("publishedBy")</label>
         <span><a href="@routes.CompanyController.showCompanyProfile(coupon.seller.id)">@coupon.seller.name</a></span>
      </div>
   </div>
</div>					
}
