@(name: String)(categories: List[Category])(myForm: Form[Coupon])_
@import helper._

@main("User Panel") {

<body>
		<header id="header"><!--header-->
		
		
		<div class="header-middle"><!--header-middle-->
			<div class="container">
				<div class="row">
					<div class="col-sm-4">
						<div class="logo pull-left">
							<a href="/"><img src="@routes.Assets.at("images/home/logo.png")" alt="" /></a>
						</div>
					</div>
				</div>
			</div>
			<div class="header-bottom"><!--header-bottom-->
			<div class="container">
				<div class="row">
					<div class="col-sm-9">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
						</div>						
						
					</div>
				</div>
			</div>
			</div>
		</header>
	</section>


	<div class="container">
	
	
								   @if(myForm.hasGlobalErrors){
							   <div class="container">
							      <div class="row clearfix">
							         <div class="col-md-12 column">
							            <div class="alert alert-dismissable alert-danger">
							               <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
							               <ul>
							                  @for(err <- myForm.globalErrors){
							                  <li> @err.message </li>
							                  }
							               </ul>
							            </div>
							         </div>
							      </div>
							   </div>
							   }
					
					<div class="features_items"><!--features_items-->
						<h2 class="title text-center">Coupon Creation</h2>
						<div class="col-sm-6 col-sm-offset-1">
						
						
							@if(Sesija.adminCheck(ctx()) == true || Sesija.companyCheck(ctx()) == true) {
							
							   <!--sign up form-->
							  <form action="@routes.CouponController.addCoupon" method ="POST"
      enctype="multipart/form-data" >
	      @if(myForm.hasGlobalErrors){
	      <div class="panel panel-danger">
	         <div class="panel-heading">Error Submiting Form</div>
	         <div class="panel-body">
	            <ul>
	               @for(err <- myForm.globalErrors){
	               <li> @err.message </li>
	               }
	            </ul>
	         </div>
	      </div>
    	  }
    <div class="form-group" style="padding:1%">
    <!-- Input for name -->
      <div class='@("form-group has-error".when(myForm("name").hasErrors)) form-group' >
     	 <label class="control-label" for="name">Name<span style="color:#AB1403"> *</span></label>
     	 <input class="form-control"  value='@myForm("name").value' type="text" name="name" id="name" minlength="4" maxlength="70" placeholder="Name" required/>
     </div>
     <!-- Input for price -->
      <div class='@("form-group has-error".when(myForm("price").hasErrors)) form-group' >
     	 <label class="control-label" for="price">Price<span style="color:#AB1403"> *</span></label>
         <input class="form-control"  value='@myForm("price").value' type="number" name="price" id="price" min="1" step="any" placeholder="Price" required/>
      </div>
     <!-- Input for expiration date --> 
      <div class='@("form-group has-error".when(myForm("dateExpire").hasErrors)) form-group' >
     	 <label class="control-label" for="dateExpire">Date<span style="color:#AB1403"> *</span></label>
		 <input class="form-control datepicker-bit"   value='@myForm("dateExpire").value' type="date" id="datepicker" name="dateExpire" required>
      </div>
     <!-- Input for photo -->     
     <div class='@("form-group has-error".when(myForm("picture").hasErrors)) form-group' >
     	 <label class="control-label" for="picture">Picture</label>
		 <input class="form-control"  type="file" name="picture" id="picture" placeholder="Choose your photo" />
     </div>
     <!-- Input for category -->
     <div class='@("form-group has-error".when(myForm("category").hasErrors)) form-group' >
     	 <label class="control-label" for="category">Category<span style="color:#AB1403"> *</span></label>
		 <select class="form-control"  value='@myForm("category").value'  id="category" name="category" required>
	         <option value='' style="display:none">Select category</option>
	         @for(category <- categories) {
				 @if(myForm("category").value != null){
		         <option select="selected" style="display:none" > @myForm("category").value </option>	         	
		         }else{
		         <option value='@myForm("category").value' style="display:none">Select category</option>	         
		         }	    
	         <option>@category.name</option>
	         }
	         @if(Sesija.adminCheck(ctx()) == true) {
	         <option >New Category</option>
	         }
      </select>	
      <input class="form-control"  type="text" name="newCategory" style="margin-top:10px; display:none;" id="newCategory" placeholder="New Category ?" />
     </div> 
     <!-- Input for description -->
     <div class='@("form-group has-error".when(myForm("description").hasErrors)) form-group' >
     	 <label class="control-label" for="description">Description<span style="color:#AB1403"> *</span></label>
         <textarea class="form-control"  name="description" id="description" rows="6" style="margin-top:10px" placeholder="Description of Coupon" required>@myForm("description").value</textarea>
     </div>
     <!-- Input for remark -->
     <div class='@("form-group has-error".when(myForm("remark").hasErrors)) form-group' >
     	 <label class="control-label" for="description">Remark</label>
     	<textarea class="form-control" name="remark" id="remark" rows="6" placeholder="Remark of Coupon">@myForm("remark").value</textarea>
     </div>
     <!-- Input for min order -->
  	 <div class='@("form-group has-error".when(myForm("minOrder").hasErrors)) form-group' >
     	 <label class="control-label" for="minOrder">Minimal order for offer to be successful<span style="color:#AB1403"> *</span></label>
     	 <input  class="form-control" value='@myForm("minOrder").value' type="number" name="minOrder" id="minOrder" min="1" placeholder="Minimal order" required/>
     </div>
     <!-- Input for max order -->
  	 <div class='@("form-group has-error".when(myForm("maxOrder").hasErrors)) form-group' >
     	 <label class="control-label" for="maxOrder">Maximum orders<span style="color:#AB1403"> *</span></label>
     	 <input class="form-control" value='@myForm("maxOrder").value' type="number" name="maxOrder" id="maxOrder" min="1" placeholder="Maximal order" required/>
     </div>     
      <span id="error" style="display:none; color:red"> Maximal order can not be smaller than minimal order </span>	
      <!-- Input for usage date -->
       <div class='@("form-group has-error".when(myForm("usage").hasErrors)) form-group' >
     	 <label class="control-label" for="usage">Usage date<span style="color:#AB1403"> *</span></label>
     	 <input class="form-control datepicker-bit"  value='@myForm("usage").value' type="date" id="datepicker-usage" name="usage" required/>
     </div>       
      <span id="error1" style="display:none; color:red"> Date of usage can not be older than expiration date </span>     
      <button  type="submit" class="btn btn-default" required>Create Coupon</button>
 </div>
   </form>
					</div><!--/sign up form-->
					} else {
					<div class="container">
					<label>Sorry! You need to be registered company to be able to create a coupon!</label>
					</div>
					}	
				</div>
			</div>
		</div>
	
	</body>
		
	

	
}
