@(curUser: User)(coupon: Coupon)(details: List[String])

@import helper._

@main("Welcome to bitCoupon") {
	
<body>
		<header id="header"><!--header-->
	
	
	
		
	
		
		<div class="header-middle"><!--header-middle-->
			<div class="container">
			
			
				<div class="row">
					<div class="col-sm-4">
						<div class="logo pull-left">
							<a href="/"><img src="@routes.Assets.at("images/home/logo.png")" alt="" /></a>
						</div>
					</div>
				</div>
			</div>

		</header>
		
	</section>
	
							<div class="container">
								
								
							<div class="paypal-info">
										<ul>
										@for( info <- details ){
											<h2><li> @info </li></h2>
										}	
										</ul>
							
							<form class="paypal-approve">
							
							<button  type="submit" class="btn btn-warning" formaction="@routes.PayPalController.approveTransaction()">Submit</button>
							<button  type="submit" class="btn btn-default" formaction="/" >Cancel transaction</button>
						
							</form>
							</div>	
						
							<div class="product-information"><!--/product-information-->
								<h2> @coupon.name </h2>
								<span>
									<span> @coupon.getPriceString() KM</span>
							<div>				
							<textarea disabled rows="1">@coupon.getExpiration()</textarea>
							</div><br>
							<div>
							<label class="pull-left" >Description</label>
							<textarea disabled rows="6" >@coupon.description</textarea>
							</div><br>
							<div>
							<label class="pull-left" >Remark</label>
							<textarea disabled rows="4">@coupon.remark</textarea>
							</div>
								</div>
							
						</div>

					
						
						
					
						</body>
					
}


