@(session: String)(curUser: User)(coupon: Coupon)

@import helper._

@main("Welcome to bitCoupon") {
	
<body>
		<header id="header"><!--header-->
	
		
		<div class="header-middle"><!--header-middle-->
			<div class="container">
				<div class="row">
					<div class="col-sm-4">
						<div class="logo pull-left">
							<a href="/"><img src="@routes.Assets.at("images/home/logo.png")" alt="" /></a>
						</div>
					</div>
				</div>
			</div>

		</header>
		
	</section>
	
	<div class="container">
	<div class="col-sm-12">
							<div class="product-image-wrapper">
								<div class="single-products">
									<div class="productinfo text-center">
					<div id="slider-carousel" class="carousel slide" data-ride="carousel">
						<ol class="carousel-indicators">
							<li data-target="#slider-carousel" data-slide-to="0" class=""></li>
							<li data-target="#slider-carousel" data-slide-to="1" class="active"></li>
							<li data-target="#slider-carousel" data-slide-to="2" class=""></li>
						</ol>
						
						<div class="carousel-inner">
							<div class="item">
								<div class="col-sm-6">
									<h2>@coupon.name</h2>
									<p>@coupon.description</p>
									
								</div>
								<div class="col-sm-6">
									<img src="@routes.Assets.at(coupon.picture)"></img>
								
								</div>
							</div>
							<div class="item active">
								<div class="col-sm-6">
									<h2>@coupon.name</h2>
									<p>@coupon.remark</p>
								
								</div>
								<div class="col-sm-6">
									<img src="@routes.Assets.at(coupon.picture)"></img>

								</div>
							</div>
							
							<div class="item">
								<div class="col-sm-4">
									<img src="@routes.Assets.at(coupon.picture)"></img>
								</div>
								<div class="col-sm-4">
									<img src="@routes.Assets.at(coupon.picture)"></img>
								</div>
								<div class="col-sm-4">
									<img src="@routes.Assets.at(coupon.picture)"></img>
								</div>
							</div>
							
						</div>
						
						<a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
							<i class="fa fa-angle-left"></i>
						</a>
						<a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
							<i class="fa fa-angle-right"></i>
						</a>
					</div>
					
				</div>
			</div>
			
							<div class="product-information"><!--/product-information-->
								<h2> @coupon.name </h2>
								<span>
									<span> @coupon.getPriceString() KM</span>
									<label>Enter the amount of coupons </label>
									<input type="text" value="0" />
								@if(Sesija.adminCheck(ctx()) == false) {
									<button type="button" class="btn btn-fefault cart">
										<i class="fa fa-shopping-cart"></i>
										Buy Coupon
									</button>
										}
									@if(Sesija.adminCheck(ctx()) == true) {
			
						   <a href='@routes.CouponController.editCoupon(coupon.id)' class="btn btn-fefault cart">Update coupon</a>
							
						   <a href='@routes.CouponController.deleteCoupon(coupon.id)' onclick="return confirm('Are you sure you want to delete this coupon?');"
					class="btn btn-fefault cart">Delete coupon</a>
			
							}
							<div>				
							<textarea rows="1">@coupon.getExpiration()</textarea>
							</div><br>
							<div>
							<label class="pull-left" >Description</label>
							<textarea disabled rows="6" >@coupon.description</textarea>
							</div><br>
							<div>
							<label class="pull-left" >Remark</label>
							<textarea disabled >@coupon.remark</textarea>
							</div>
								</div>
							</div><!--/product-information-->
						</div>
					</div><!--/product-details-->
					</div>
						</div>
						</body>
					
}


