@(user: User)

@import helper._

@main("User Panel") {

<body>
		<header id="header"><!--header-->
		<div class="header_top"><!--header_top-->
		
			<div class="container">
				<div class="row">
					<div class="col-sm-6">
						<div class="col-sm-12">
						
							<ul class="nav navbar-nav">
 							<li><a class="active">@user.username </a></li>
 								<li><a href="@routes.UserController.userUpdateView">Edit profile</a>
 							<li><a href="/logout" class="active"><i class="active"></i> Logout</a></li>	
 							@if(Sesija.adminCheck(ctx()) == true) {
 							<li><a href="@routes.UserController.controlPanel(user.id)" class="fa fa-lock">Admin Panel</a></li>	
 							}					
							</ul>
						</div>
					</div>
				</div>	
			</div>
		</div>
		</div><!--/header_top-->
		
		<div class="header-middle"><!--header-middle-->
			<div class="container">
				<div class="row">
					<div class="col-sm-4">
						<div class="logo pull-left">
							<a href="/"><img src="@routes.Assets.at("images/home/logo.png")" alt="" /></a>
						</div>
					</div>
				</div>
			</div>
		</header>
	</section>
	
	<div class="container">
					
					<div class="features_items"><!--features_items-->
						<h2 class="title text-center"> Profile page here </h2>
						<div class="col-sm-6 col-sm-offset-1">
						

					

				</div>
			</div>
	<img src='@routes.Assets.at("images/home/avatar.jpg")' class="avatar-profile"/>

		</div>
	</section><!--/form-->
							</div>
						</div>
					</div>
	<p></p>
										<p></p>
											<p></p>
	</body>
		
	

	
}

