@(superUser: SuperUser)
@import helper._
@main("User Panel") {
   <header id="header">
      <!--header-->
      <div class="header-middle">
      <!--header-middle-->
      <div class="container">
         <div class="row">
            <div class="col-sm-4">
               <div class="logo pull-left">
                  <a href="/"><img src="@routes.Assets.at("images/home/logo.png")" alt="" /></a>
               </div>
            </div>
         </div>
      </div>
      @if(superUser.isUser()){
      <div class="header-bottom">
         <!--header-bottom-->
         <div class="container">
            <div class="row">
               <div class="col-sm-9">
                  <div class="navbar-header">
                     <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                     <span class="sr-only">Toggle navigation</span>
                     <span class="icon-bar"></span>
                     <span class="icon-bar"></span>
                     <span class="icon-bar"></span>
                     </button>
                  </div>
                  <div class="mainmenu pull-left">
                     <ul class="nav navbar-nav collapse navbar-collapse">
                        <li><a href="@routes.UserController.showBoughtCoupons(superUser.id)">My Coupons</a></li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </header>
   <div class="container">
      <div class="features_items">
         <!--features_items-->
         <h2 class="title text-center"> Profile page here </h2>
         <div class="col-sm-6 col-sm-offset-1">
         </div>
      </div>
      <div class="userInforamtion">
         <div class="profilePicture">
            @if(superUser.getUser().profilePicture == null){
            <img src='@routes.Assets.at("images/home/avatar.jpg")' class="avatar-profile"/>
            }else{
            <img src='@routes.Assets.at(superUser.getUser().profilePicture)' class="avatar-profile"/>
            }
         </div>
      </div>
      <div class="rightBox">
         <ul>
            <li>Name: @superUser.getUser().username</li>
            <li>Surname: @superUser.getUser().surname</li>
            <li>Date of birth: @superUser.getUser().dob</li>
            <li>Gender: @superUser.getUser().gender</li>
            <li>Adress: @superUser.getUser().adress</li>
            <li>City: @superUser.getUser().city</li>
            <li>Email: @superUser.getUser().email</li>
            <li>Date create: @superUser.getUser().created</li>
             @if(TransactionCP.allFromBuyer(superUser.getUser().id).size() > 0) {
            <li><a href="@TransactionCP.allFromBuyer(superUser.getUser().id).size()">Number of bought coupons: @TransactionCP.allFromBuyer(superUser.getUser().id).size()</a></li>
           } else {
            <li>Number of bought coupons: @TransactionCP.allFromBuyer(superUser.getUser().id).size()</li>            
            }
         </ul>
      </div>
   </div>
   }
   @if(superUser.isCompany()){
   <div class="header-bottom">
      <!--header-bottom-->
      <div class="container">
         <div class="row">
            <div class="col-sm-9">
               <div class="navbar-header">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  </button>
               </div>
               <div class="mainmenu pull-left">
                  <ul class="nav navbar-nav collapse navbar-collapse">
                     <li><a href="@routes.CompanyController.companyPanel(superUser.getCompany().id)"> Published Coupons</a></li>
                     <li><a href="@routes.CouponController.addCouponView">NEW Coupon</a></li>
                     @if(TransactionCP.allFromCompany(superUser.getCompany().id).size() > 0) {
			       	<li id="notiff" ><a id="notif" href="@routes.CouponController.boughtCoupon(superUser.getCompany().id)"><i class="newbadge">@TransactionCP.allFromCompany(superUser.getCompany().id).size()</i>Notifications</a></li>
                  } else {
			       	<li>Notifications</li>                  
                  } 
                  </ul>
               </div>
            </div>
         </div>
      </div>
   </div>
   </header>
   </section>
   <div class="container">
      <div class="features_items">
         <!--features_items-->
         <h2 class="title text-center"> Profile page</h2>
         
      
      <div class="userInforamtion">
         <div class="profilePicture">
            @if(superUser.getCompany().logo == null){
            <img style="width: 400px; height: 400px" src='@routes.Assets.at("images/home/avatar.jpg")' class="avatar-profile"/>
            }else{
            <img style="width: 400px; height: 400px" src='@routes.Assets.at(superUser.getCompany().logo)' alt="LOGO" class="avatar-profile"/>
            }
         </div>
      </div>
      <div class="rightBox">
         <ul>
            <li>Name: @superUser.getCompany().name</li>
            <li>Email: @superUser.getCompany().email</li>
            <li>Date create: @superUser.getCompany().created</li>
            <li>Company adress: @superUser.getCompany().adress</li>
            <li>City: @superUser.getCompany().city</li>
            <li>Company contact: @superUser.getCompany().contact</li>
            @if(Coupon.ownedCoupons(superUser.getCompany().id).size() > 0) {
            <li><a href="@routes.CompanyController.companyPanel(superUser.getCompany().id)">Number of published coupons: @Coupon.ownedCoupons(superUser.getCompany().id).size()</a></li>
            } else {
            <li>Number of published coupons: @Coupon.ownedCoupons(superUser.getCompany().id).size()</li>            
            }        
         </ul>
      </div>
   </div>
   }
}