@(userForm: Form[User])(companyForm: Form[Company])(superUser: SuperUser)
@import views.html.company._

@main("User Panel") {
<body>
   <header id="header">
      <!--header-->		
      <div class="header-middle">
      <!--header-middle-->
      <div class="container">
         <div class="row">
            <div class="col-sm-4">
               <div class="logo pull-left">
                  <a href="/"><img src="http://res.cloudinary.com/bitfiles/image/upload/v1430750951/staticImages/logo.png" /></a>
               </div>
            </div>
         </div>
      </div>
   </header>
   <div class="container">
      <div class="row clearfix">
         <div class="col-md-6 column">
            <!--######## PAGE IN CASE USER IS USER #######-->
            @if(superUser.isUser()){
            <div class="container">
               <div class="features_items">
                  <!--features_items-->
                  <h2 class="title text-center">@Messages("editUser")</h2>
                  <div class="col-sm-6 col-sm-offset-1">
                     <h5>@Messages("updateAccount")</h5>
                    
                      @_updateUserForm(userForm, superUser)
                     
                  </div>
               </div>
            </div>
         </div>
         <div class="col-md-7 column">
            <div class="container">
               <div class="features_items">
                  <br>  <br>               
                  <div class="col-sm-6 col-sm-offset-1">
                  <div class="col-sm-7 col-sm-offset-1">                  
                     <div class="signup-form">
                     	<div class="signup-form">
                   		  <h6>@Messages("uploadNewPhoto") </h6>
                      	<form action="@routes.UserController.updatePhoto(superUser.getUser().id)" enctype="multipart/form-data" method="post">
                         	 <input name="picture" id="picture" type="file" />
                        	  <button type="submit" class="btn btn-fefault cart" style="margin-left:0px;" >@Messages("changePhoto")</button>
                       	</form>
                     </div>
                        <br>
                 <a id="changePassButton1">@Messages("changePassword")</a>
                 <div id="changePassForm1" style="display:none;" class="signup-form">
                        <form action="@routes.SuperUserController.changePass(superUser.email)" method ="POST" >
                           <input type="password" name="password" id="password" placeholder="Old password" value="" />
                           <input type="password" name="newPassword" id="newPassword" placeholder="New Pasword" value="" />
                           <input type="password" id="confirmPassword" name="confirmPassword" onClick="this.select()" placeholder="Confirm Password" required/> <br>
                           <button type="submit" class="btn btn-default">@Messages("updatePassword")</button>
                        </form>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <!--######## PAGE IN CASE USER IS COMPANY #######-->
         }@if(superUser.isCompany()){  
         <div class="container">
            <div class="features_items">
               <!--features_items-->
                <h2 class="title text-center">@Messages("editUser")</h2>
               <div class="col-sm-6 col-sm-offset-1">
                  <h5>@Messages("updateAccount")</h5>
                  @_editCompanyForm(companyForm, superUser)
               </div>
            </div>
         </div>
      </div>
      <div class="col-md-7 column">
         <div class="container">
            <div class="features_items">
               <br>  <br>               
               <div class="col-sm-6 col-sm-offset-1">
               <div class="col-sm-7 col-sm-offset-1">
                   <div class="signup-form">
                     <!--sign up form-->
                     <h6> @Messages("uploadNewPhoto") </h6>
                     <form action="@routes.CompanyController.updatePhoto(superUser.getCompany().id)" enctype="multipart/form-data" method="post">
                        <input name="picture" id="picture" type="file" />
                        <button type="submit" class="btn btn-default">@Messages("savePhoto")</button>
                     </form>
                  </div>
                  <br>
                  <div class="signup-form">
                 <a id="changePassButton">@Messages("changePassword")</a>
                    <div id="changePassForm" style="display:none;" class="signup-form">
                     <form action="@routes.SuperUserController.changePass(superUser.email)" method ="POST" >
                        <input type="password" name="password" id="password" placeholder="Old password" value="" />
                        <input type="password" name="newPassword" id="newPassword" placeholder="New Pasword" value="" />
                        <input type="password" id="confirmPassword" name="confirmPassword" onClick="this.select()" placeholder="Confirm Password" required/> <br>
                        <button type="submit" class="btn btn-default">@Messages("updatePassword")</button>
                     </form>
                  </div>
               </div>
            </div>
         </div>
      </div>
           }
   </div>
   <p></p>
   <br>
   <br>
   <br>
</body>

 <!-- 
 	 <script>
         $(function() {
           $( "#dob-update" ).datepicker({dateFormat: "yy-mm-dd"});
           $( "#dob-update" ).datepicker('setDate', '1998/01/01');
         });
      </script> 
 -->
}