@(superUser: SuperUser)
@import helper._
@main("User Panel") {
<body>
   <header id="header">
      <!--header-->		
      <div class="header-middle">
      <!--header-middle-->
      <div class="container">
         <div class="row">
            <div class="col-sm-4">
               <div class="logo pull-left">
                  <a href="/"><img src="@routes.Assets.at("images/home/logo.png")" alt="" /></a>
               </div>
            </div>
         </div>
      </div>
   </header>
   <div class="container">
      <div class="row clearfix">
         <div class="col-md-6 column">
            <!--######## PAGE IN CASE USER IS USER #######-->
            @if(superUser.isUser()){
            <div class="container">
               <div class="features_items">
                  <!--features_items-->
                  <h2 class="title text-center">Edit User</h2>
                  <div class="col-sm-6 col-sm-offset-1">
                     <h5>Update account</h5>
                     <div class="signup-form">
                        <!--sign up form-->
                        <form action="@routes.UserController.updateUser(superUser.getUser().id)" method ="POST" >
                           <input type="text" name="username" id="username" placeholder="Username" value="@superUser.getUser().username" required/>
                           <input type="text" id="surname" name="surname"  placeholder="Surname"  value=@superUser.getUser().surname required/>	<br>
                           <input type="date" id="dob" name="dob"  placeholder="Date of birth" value=@superUser.getUser().dob required/>	<br>
                            <span id="error" style="display:none; color:red"> You are underage of 18 </span>
           				   <input type="radio" id="gender" name="gender" style=" border: 0px;width: 5%;height: 1em;" value="male" required/>Male 
               		       <input type="radio" id="gender" name="gender" style=" border: 0px;width: 5%;height: 1em;" value="female" required/>Female                                             
                           <input type="text" id="adress" name="adress"  onClick="this.select()"  placeholder="Adress" value="@superUser.getUser().adress" required/>	<br>                
                           <input type="text" id="city" name="city"  onClick="this.select()"  placeholder="City" value="@superUser.getUser().city" required/>	<br>                                           
                           <input type="text" name="email" id="email" placeholder=Email value="@superUser.getUser().email" required/>
                           <button type="submit" class="btn btn-fefault cart" style="margin-left:0px;" >Update user</button>			
                        </form>
                     </div>
                     <br><br>
                     <div class="signup-form">
                        <form action="@routes.UserController.updatePhoto(superUser.getUser().id)" enctype="multipart/form-data" method="post">
                           <input name="picture" id="picture" type="file" />
                           <button type="submit" class="btn btn-fefault cart" style="margin-left:0px;" >Change photo</button>
                        </form>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-md-6 column">
            <div class="container">
               <div class="features_items">
                  <br>  <br>               
                  <div class="col-sm-6 col-sm-offset-1">
                     <h5>Change Password</h5>
                     <div class="signup-form">
                        <!--sign up form-->
                        <form action="@routes.SuperUserController.changePass(superUser.email)" method ="POST" >
                           <input type="password" name="password" id="password" placeholder="Old password" value="" />
                           <input type="password" name="newPassword" id="newPassword" placeholder="New Pasword" value="" />
                           <input type="password" id="confirmPassword" name="confirmPassword" onClick="this.select()" placeholder="Confirm Password" required/> <br>
                           <button type="submit" class="btn btn-default">Save</button>
                        </form>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <!--######## PAGE IN CASE USER IS COMPANY #######-->
         }@if(superUser.isCompany()){  
         <div class="container">
            <div class="features_items">
               <!--features_items-->
                <h2 class="title text-center">Edit User</h2>
               <div class="col-sm-6 col-sm-offset-1">
                  <h5>Update account</h5>
                  <div class="signup-form">
                     <!--sign up form-->
                     <form action="@routes.CompanyController.updateCompany(superUser.getCompany().id)" method ="POST" >
                        <input type="text" name="name" id="name" placeholder="Company name" value="@superUser.getCompany().name" required/>
                        <input type="text" name="email" id="email" placeholder=Email value="@superUser.getCompany().email" required/>
                        <input type="text" name="logo" id="logo" placeholder="Logo" value="@superUser.getCompany().logo" required/>
                        <input type="text" name="adress" id="adress" placeholder="Company adress" value="@superUser.getCompany().adress" required/>
                        <input type="text" name="city" id="city" placeholder="City" value="@superUser.getCompany().city" required/>
                        <input type="text" name="contact" id="contact" placeholder="Company contact" value="@superUser.getCompany().contact" required/>
                    
                        
                        <button type="submit" class="btn btn-fefault cart" style="margin-left:0px;" >Update user</button>			
                     </form>
                  </div>
                  <div class="signup-form">
                     <!--sign up form-->
                     <form action="@routes.CompanyController.updatePhoto(superUser.getCompany().id)" enctype="multipart/form-data" method="post">
                        <input name="picture" id="picture" type="file" />
                        < <button type="submit" class="btn btn-default">Save photo</button>
                     </form>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="col-md-6 column">
         <div class="container">
            <div class="features_items">
               <br>  <br>               
               <div class="col-sm-6 col-sm-offset-1">
                  <h5>Change Password</h5>
                  <div class="signup-form">
                     <!--sign up form-->
                     <form action="@routes.SuperUserController.changePass(superUser.email)" method ="POST" >
                        <input type="password" name="password" id="password" placeholder="Old password" value="" />
                        <input type="password" name="newPassword" id="newPassword" placeholder="New Pasword" value="" />
                        <input type="password" id="confirmPassword" name="confirmPassword" onClick="this.select()" placeholder="Confirm Password" required/> <br>
                        <button type="submit" class="btn btn-default">Update password</button>
                     </form>
                  </div>
               </div>
            </div>
         </div>
      </div>
              }
   </div>
   <p></p>
   <br>
   <br>
   <br>
</body>
}