@(company: Company, coupons: List[Coupon])

@import helper._

@main("Welcome to bitCoupon") {
<header id="header">
   <!--header-->
   <div class="header-middle">
      <!--header-middle-->
      <div class="container">
         <a href="/"><img src="http://res.cloudinary.com/bitfiles/image/upload/v1430750951/staticImages/logo.png" /></a>
         <div class="logo pull-right">
            <div class="search_box">
               <form action="/search" method="GET">
                  <input id="q" name="q" type="text" placeholder="Search" />
               </form>
            </div>
         </div>
      </div>
   </div>
</header>
<div class="container">
<div class="features_items">
   <!--features_items-->
   <h2 class="title text-center">@Messages("myCoupons")</h2>
   <div class="col-sm-4">
      <form action="@routes.CouponController.sort(Coupon.commaSeparatedIds(coupons))" method="POST">
         <select id="orderby" name="orderby" required>
            <option value="" style="display:none">@Messages("orderBy") </option>
            <option>@Messages("category")</option>
            <option >@Messages("price")</option>
            <option>@Messages("date")</option>
         </select>
         <input type="radio" id="method" name="method" value="ascending" checked>@Messages("ascending")
         <input type="radio" id="method" name="method" value="descending">@Messages("descending")
         <input type="submit" class="btn btn-success">                  
      </form>
   </div>
</div>
<div class="container">
   @for(coupon <- coupons){
   <div class="col-sm-4">
      <div class="logo pull-left">
         <div class="product-image-wrapper">
            <div class="single-products">
               <div class="productinfo text-center">
                  <img src="@coupon.picture"/>
                  <h2>@Messages("only") @coupon.getPriceString() @Messages("currency")</h2>
                  <p>@coupon.name</p>
                  <a href="/coupon/@coupon.id" class="btn btn-default add-to-cart">@Messages("viewCoupon")</a>
               </div>
            </div>
         </div>
      </div>
   </div>
   }			
</div>
}