@(transactions: List[TransactionCP])
@import helper._

@main("Bought coupons") {
@*	
<h2>@message @name</h2>
<h4>Home: </h4>
*@
   <header id="header">
      <div class="col-sm-12">
         <!--header-middle-->
         <div class="container">
            <a href="/"><img src="http://res.cloudinary.com/bitfiles/image/upload/v1430750951/staticImages/logo.png" /></a>
            
            <div class="logo pull-right">
           		
            </div>
            <div class="logo pull-right">
               
            </div>
         </div>
      </div>	
   </header>
   <div class="container">
   
 <h2 class="title text-center">@Messages("notifications")</h2> 
     <div class="container">
      @for(question <- Question.newQuestions(Sesija.getCurrentCompany(ctx()).id)){
         <ul class="actionBox">
          <li>   <a href="@routes.QuestionController.showCoupon(question.id)" class="btn btn-link">@Messages("newQuestionForCouponID") @question.coupon.id</a> </li>
		</ul>
      }
      </div> 
 
 <h2 class="title text-center">@Messages("soldCoupons")</h2> 
   <div class="container">
      @for(transaction <- transactions){
      	
      <div class="col-sm-4">
         <div class="logo pull-left">
            <div class="product-image-wrapper">
               <div class="single-products">
                  <div class="productinfo text-center">
                     <img src="@transaction.coupon.picture"/>
                     <h2>@Messages("price"): @transaction.coupon.getPriceString() @Messages("currency")</h2>
                     <p>@Messages("couponName"): @transaction.coupon.name</p>
                     <p>@Messages("quantity"): @transaction.quantity</p>
                     @if(transaction.buyer != null){
                     <p>@Messages("buyer"): <a href="@routes.SuperUserController.profilePage(transaction.buyer.username)">@transaction.buyer.username @transaction.buyer.surname</p>
                     }
                    @if(transaction.buyer == null){
                    <p>@Messages("buyer"): @transaction.buyer_name @transaction.buyer_surname</p>
                    }
                     <a href="@routes.CouponController.showCoupon(transaction.coupon.id)" class="btn btn-default add-to-cart">@Messages("viewCoupon")</a>
                  </div>
               </div>
            </div>
         </div> 
      </div>
      }
      </div>
   </div>
   }