@(user: User)(addCouponInfo: String)

@import helper._

@main("User Panel") {

<body>
		<header id="header"><!--header-->

		
		<div class="header-middle"><!--header-middle-->
			<div class="container">
				<div class="row">
					<div class="col-sm-4">
						<div class="logo pull-left">
							<a href="/"><img src="@routes.Assets.at("images/home/logo.png")" alt="" /></a>
						</div>
					</div>
				</div>
			</div>
			@_adminNavbar()
		</header>
	</section>
	

	<div class="container">
					<h4>@addCouponInfo</h4>
					<div class="features_items"><!--features_items-->
						<h2 class="title text-center">Dashboard</h2>
						<div class="col-sm-6 col-sm-offset-1">
						
						
				
				</div>
			</div>
		</div>
	
	<p></p>
										<p></p>
											<p></p>
	</body>
		
	

	
}

