@(user: User)(addCouponInfo: String)

@import helper._

@main("User Panel") {

  <header id="header">
   <!--header-->
   <div class="header-middle">
      <!--header-middle-->
      <div class="container">
         <a href="/"><img src="@routes.Assets.at("images/home/logo.png")" alt="" /></a>
         <div class="logo pull-right">
            <div class="search_box">
               <form action="/search" method="GET">
                  <input id="q" name="q" type="text" placeholder="Search" />
               </form>
            </div>
         </div>
      </div>
   </div>
   @_adminNavbar()
</header>
<div class="container">
   <h4>@addCouponInfo</h4>
   <div class="features_items">
      <!--features_items-->
      <h2 class="title text-center">Dashboard</h2>
      <div class="col-sm-6 col-sm-offset-1">
      </div>
   </div>
</div>

}

