@(implicit user: User = Sesija.getCurrentUser(ctx()))

<!-- header -->
<div id="top-nav" class="navbar navbar-inverse navbar-static-top">
   <div class="container-fluid">
      <div class="navbar-header">
         <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         </button>
         <a class="navbar-brand" href="@routes.UserController.controlPanel(user.id)">>@Messages("dashboard")</a>
      </div>
      <div class="navbar-collapse collapse">
         <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
            @if(Coupon.nonApprovedCoupons().size() > 0) {
               <a class="dropdown-toggle" role="button" data-toggle="dropdown" href="#"><i class="glyphicon glyphicon-envelope"> @User.adminNotifications()</i> Admin <span class="caret"></span></a>
              } else {
               <a class="dropdown-toggle" role="button" data-toggle="dropdown" href="#"><i class="glyphicon glyphicon-user"> </i> @Messages("adminLC") <span class="caret"></span></a>              
              }
               <ul id="g-account-menu" class="dropdown-menu" role="menu">
                  <li><a href="#">@Messages("myProfile")</a></li>
               </ul>
            </li>
            <li><a href="/logout"><i class="glyphicon glyphicon-lock"> </i> @Messages("logout")</a></li>
         </ul>
      </div>
   </div>
   <!-- /container -->
</div>
<!-- /Header -->
<!-- Main -->
<div class="container-fluid">
<div class="row">
<div class="col-sm-3">
   <!-- Left column -->
   <hr>
   <ul class="nav nav-stacked">
      <li class="nav-header">
         <a href="#" data-toggle="collapse" data-target="#userMenu">@Messages("settings") <i class="glyphicon glyphicon-chevron-down"> </i></a>
         <ul class="nav nav-stacked collapse in" id="userMenu">

            <li class="active"> <a href="/"><i class="glyphicon glyphicon-home"> </i> @Messages("home")</a></li>
            @if(Coupon.nonApprovedCoupons().size() > 0 && Company.nonApprovedCompanies().size() == 0) {
            <li><a href="/allCoupons#coupons"><i class="glyphicon glyphicon-envelope"> </i> @Messages("notifications") <span class="badge badge-info">@User.adminNotifications()</span></a></li>
            }
            @if(Company.nonApprovedCompanies().size() >= 0 && Coupon.nonApprovedCoupons().size() == 0) {
            <li><a href="/userPanel#companies"><i class="glyphicon glyphicon-envelope"> </i> @Messages("notifications") <span class="badge badge-info">@User.adminNotifications()</span></a></li>
			} 
			 @if(Company.nonApprovedCompanies().size() > 0 && Coupon.nonApprovedCoupons().size() > 0) {
            <li><a href="/userPanel#companies"><i class="glyphicon glyphicon-envelope"> </i> @Messages("notifications") <span class="badge badge-info">@User.adminNotifications()</span></a></li>
			}          
            <li><a href="@routes.UserController.listUsers"><i class="glyphicon glyphicon-user"> </i>  User panel</a></li>
           
           <li class="nav-header"> <a href="#" data-toggle="collapse" data-target="#menu2">
            <i class="glyphicon glyphicon-tag"> </i> @Messages("couponPanel") <i class="glyphicon glyphicon-chevron-right"> </i></a>
               <ul class="nav nav-stacked collapse" id="menu2">
                   <li><a href="@routes.CouponController.addCouponView">@Messages("addCoupon")</a></li>
                  <li><a href="/allCoupons">@Messages("allCoupons")</a></li>                        
               </ul>
            </li>

            <li class="nav-header"> <a href="#" data-toggle="collapse" data-target="#menu3">
           <i class="glyphicon glyphicon-tasks"> </i>  @Messages("categoryPanel") <i class="glyphicon glyphicon-chevron-right"> </i></a>
               <ul class="nav nav-stacked collapse" id="menu3">
                   <li><a href="/categoryPanel"> @Messages("addCategory")</a></li>
                  <li><a href="/categoryList">@Messages("allCategories")</a></li>                        
               </ul>
            </li>           
            <li><a href="/newsletter"> <i class="glyphicon glyphicon-gift"> </i> @Messages("newsLetter")</a></li>  
             <li><a href="/subscribers"> <i class="glyphicon glyphicon-heart"> </i> @Messages("subscribers") </a></li>  
        	<li><a href="@routes.UserController.getStatistic"> <i class="glyphicon glyphicon-download-alt"> </i> @Messages("downloadStatistics") </a></li>  
         </ul>
      </li>     
      
   </ul>
</div>
<!-- /col-3 -->
<div class="col-sm-8">
