@(user: User)(addCouponInfo: String)
@import models.comments._
@main("Admin Panel") {

@adminNavbar()
<div class="col-sm-12">
   <a href="@routes.UserController.controlPanel(user.id)"><strong><i class="glyphicon glyphicon-dashboard"></i> @Messages("dashboard")</strong></a>
   <hr>
</div>
<div class="col-sm-12">
   <div class="review-payment">
      <h2>@Messages("reports")</h2>
   </div>
   <div class="table-responsive">
      <table class="table table-striped">
         <thead>
            <tr class="cart_menu">
               <th >@Messages("commentText")</th>
               <th>@Messages("userCommented")</th>
               <th>@Messages("reportedCount")</th>
               <th>@Messages("viewComment")</th>
               <th>@Messages("removeComment")</th>
               <th>@Messages("removeReports")</th>
            </tr>
         </thead>
         <tbody>
            @if(Report.reports() != null){
            @for((comment, value) <- Report.reports()){          
            <tr>
               <td style="max-width: 200px; word-wrap:break-word;" >@comment.comment </td>
               <td>@comment.user.username </td>
               <td>@value</td>
               <td > <a href="@routes.CouponController.showCoupon(comment.coupon.id)" class="btn btn-default" >@Messages("viewComment")</a></td>
               <td> <a href="@routes.CommentController.removeComment(comment.id)" 
                  onclick="return confirm('Are you sure you want to delete this company?');"
                  class="btn btn-danger">@Messages("removeComment")</a></td>
               <td> <a href="@routes.CommentController.removeReport(comment.id)" 
                  onclick="return confirm('Are you sure you want to delete this report?');"
                  class="btn btn-danger">@Messages("removeReport")</a></td>
            </tr>
            }
            }
            @if(ReportCommentCompany.reports() != null){
            @for((comment, value) <- ReportCommentCompany.reports()){          
            <tr>
               <td style="max-width: 200px; word-wrap:break-word;" >@comment.comment </td>
               <td>@comment.user.username </td>
               <td>@value</td>
               <td > <a href="@routes.CompanyController.showCompanyProfile(comment.company.id)" class="btn btn-default" >@Messages("viewComment")</a></td>
               <td> <a href="@routes.CommentController.removeCommentCompany(comment.id)" 
                  onclick="return confirm('Are you sure you want to delete this comment?');"
                  class="btn btn-danger">@Messages("removeComment")</a></td>
               <td> <a href="@routes.CommentController.removeReportCommentCompany(comment.id)" 
                  onclick="return confirm('Are you sure you want to delete this report?');"
                  class="btn btn-danger">@Messages("removeReport")</a></td>
            </tr>
            }
            }
         </tbody>
      </table>
   </div>
   <!--/tabs-->
   <hr>
   <div class="col-sm-12">
      <div class="review-payment">
         <h2>Statistic</h2>
      </div>
      <div class="table-responsive">
         <table class="table table-striped">
            <thead>
               <tr class="cart_menu">
                  <th >Coupon id</th>
                  <th>Coupon name</th>
                  <th>Visited times</th>
                  <th>Bought times</th>
               </tr>
            </thead>
            <tbody>
               @for(stat <- Statistic.all()){          
               <tr>
                  <td style="max-width: 200px; word-wrap:initial;" >@stat.coupon.id </td>
                  <td><a href="@routes.CouponController.showCoupon(stat.coupon.id)" class="btn btn-default" >@stat.coupon.name </a></td>
                  <td>@stat.visited</td>
                  <td>@stat.bought</td>
               </tr>
               }
            </tbody>
         </table>
      </div>
      <!--/col-span-6-->
   </div>
   <!--/row-->          
</div>
<!--/col-span-9-->

<!-- /Main -->
<footer class="text-center">This Bootstrap 3 dashboard layout is compliments of <a href="http://www.bootply.com/85850"><strong>Bootply.com</strong></a></footer>
<!-- /.modal -->
<!-- script references -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/scripts.js"></script>
COPY TO CLIPBOARD	 SEL
}
