@(superUser: SuperUser)(admins: List[User])
@import helper._
@main("User Panel") {
<body>
   <header id="header">
      <!--header-->
      <div class="header-middle">
      <!--header-middle-->
      <div class="container">
         <div class="row">
            <div class="col-sm-4">
               <div class="logo pull-left">
                  <a href="/"><img src="@routes.Assets.at("images/home/logo.png")" alt="" /></a>
               </div>
            </div>
         </div>
      </div>
      <div class="header-bottom">
         <!--header-bottom-->
         <div class="container">
            <div class="row">
               <div class="col-sm-9">
                  <div class="navbar-header">
                     <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                     <span class="sr-only">Toggle navigation</span>
                     <span class="icon-bar"></span>
                     <span class="icon-bar"></span>
                     <span class="icon-bar"></span>
                     </button>
                  </div>
                  <div class="mainmenu pull-left">
                     <ul class="nav navbar-nav collapse navbar-collapse">
                        <li><a href="@routes.UserController.listUsers">Users panel</a></li>
                        <li><a href="/allCoupons">Coupons panel</a></li>
                        <li><a href="@routes.CouponController.addCouponView">Add Coupon panel</a></li>
                        <li><a href="@routes.CategoryController.listCategories">Category panel</a></li>
                        <li><a href="@routes.CategoryController.addCategoryView">Add Category panel</a></li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </header>
  
  @if(superUser.isUser()){
   <div class="container">
      <div class="features_items">
         <!--features_items-->
         <h2 class="title text-center">Edit User</h2>
         <div class="col-sm-6 col-sm-offset-1">
            <h5>Edit user: @superUser.getUser().username</h5>
            <div class="signup-form">
               <!--sign up form-->
               <form action="@routes.UserController.adminUpdateUser(superUser.getUser().id)" method ="POST" >
                  <input type="text" name="username" id="username" placeholder="Name" value=@superUser.getUser().username required/>
                  <input type="text" id="surname" name="surname"  placeholder="Surname"  value=@superUser.getUser().surname required/>	<br>
                  <input type="date" id="datepicker" name="dob"  placeholder="Date of birth" value=@superUser.getUser().dob required/>	<br>
                  <input type="radio" id="gender" name="gender" value="male" required/> Male	<br> 
                  <input type="radio" id="gender" name="gender" value="female" required/> Female	<br>                                    
                  <input type="text" id="adress" name="adress"  onClick="this.select()"  placeholder="Company adress" required/>	<br>                
                  <input type="text" id="city" name="city"  onClick="this.select()"  placeholder="City" required/>	<br>                 
                  <input type="text" name="email" id="email" placeholder=Email value=@superUser.getUser().email required/>
                  <input type="password" name="newPassword" id="newPassword" placeholder="New Pasword" value="" />                 
                  @if((!superUser.getUser().equals(admins.get(0)) && admins.size() >= 1) || (superUser.getUser().equals(admins.get(0)) && admins.size() > 1)) {
                  <label for="isAdmin">Option for promoting user to administrator. Option "false" for removing user from Administrators and option "true" for adding user to Administrator group.</label>
                  <select id="isAdmin" name="isAdmin" value=@superUser.getUser().isAdmin>
                     <option selected="selected">@superUser.getUser().isAdmin</option>
                     @if( superUser.getUser().isAdmin == true ){
                     <option>false</option>
                     } else{
                     <option>true</option>
                     }					     							
                  </select>
                  }
                  <br>
                  <br>
                  <button type="submit" class="btn btn-default">Update user</button>
                  <br>
                  <br>
                  <br>
               </form>
            </div>
            <!--/sign up form-->
         </div>
      </div>
   </div>
   }
   @if(superUser.isCompany()){
   	<div class="container">
					
					<div class="features_items"><!--features_items-->
						<h2 class="title text-center">Edit Company</h2>
						<div class="col-sm-6 col-sm-offset-1">
						
						<h5>Edit company: @superUser.getCompany().name</h5>
					
					<div class="signup-form"><!--sign up form-->
						<form action="@routes.CompanyController.adminUpdateCompany(superUser.getCompany().id)" method ="POST" >
						
													
							<input type="text" name="name" id="name" placeholder="Username" value=@superUser.getCompany().name required/>
							<input type="text" name="email" id="email" placeholder=Email value=@superUser.getCompany().email required/>
							<input type="text" name="adress" id="adress" placeholder="Company Adress" value=@superUser.getCompany().adress required/>
							<input type="text" name="city" id="city" placeholder=City value=@superUser.getCompany().city required/>
							<input type="text" name="contact" id="contact" placeholder="Company contact" value=@superUser.getCompany().contact required/>

							<input type="password" name="newPassword" id="newPassword" placeholder="New Pasword" value="" />
					    				<br>
					    				<br>
							<button type="submit" class="btn btn-default">Update company</button>
								<br>
					    				<br>
					    				<br>
			
						</form>
					</div><!--/sign up form-->
					
				</div>
			</div>
		</div>
   }
   <p></p>
   <p></p>
   <p></p>
</body>
}