@(users: List[SuperUser])
@main("Admin UserList") {

@adminNavbar()

<div class="col-sm-12">
      <div class="review-payment">
         <h2>@Messages("listOfUsers")</h2>
 </div>
<div class="table-responsive">
   <table class="table table-striped">
      <thead>
         <tr>
            <th>@Messages("username")</th>
            <th>@Messages("email")</th>
            <th>@Messages("registered")</th>
            <th>@Messages("updated")</th>
            <th>@Messages("editUser")</th>
            <th>@Messages("deleteUser")</th>
         </tr>
      </thead>
      <tbody>
         @for(user <- users){
         @if(user.isUser()){
         <tr>
            <td>@user.getUser().username</td>
            <td>@user.getUser().email</td>
            <td>@user.getUser().created</td>
            <td>@user.getUser().updated</td>
            <td> <a href="@routes.SuperUserController.adminEditUserView(user.email)" class="btn btn-default" >@Messages("edit")</a></td>
            <td> <a href="@routes.UserController.deleteUser(user.id)" onclick="return confirm('Are you sure you want to delete this user?');"class="btn btn-danger">@Messages("delete")</a></td>
         </tr>
         }
         }
      </tbody>
   </table>
</div>
<br>
<div class="col-sm-12">
      <div class="review-payment">
         <h2>@Messages("listOfCompanies")</h2>
      </div>
<br>   
<div class="table-responsive">
   <table class="table table-striped">
      <thead>
         <tr>
            <th>@Messages("name")</th>
            <th>@Messages("email")</th>
            <th>@Messages("registered")</th>
            <th>@Messages("updated")</th>
            <th>@Messages("editUser")</th>
            <th>@Messages("deleteUser")</th>
         </tr>
      </thead>
      <tbody>
         @for(user <- users){
         @if(user.isCompany()){
         <tr>
            <td>@user.getCompany().name</td>
            <td>@user.getCompany().email</td>
            <td>@user.getCompany().created</td>
            <td>@user.getCompany().updated</td>
            <td> <a href="@routes.SuperUserController.adminEditUserView(user.email)" class="btn btn-default" >@Messages("edit")</a></td>
            <td> <a href="@routes.UserController.deleteUser(user.id)" onclick="return confirm('Are you sure you want to delete this user?');"class="btn btn-danger">@Messages("delete")</a></td>
         </tr>
         }
         }
      </tbody>
   </table>
</div>
<!-- /.modal -->
<!-- script references -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/scripts.js"></script>
}