@(myForm: Form[User])

<form name="userForm" action="/register" method="POST" novalidate enctype="multipart/form-data" >
				 <hr>
				  @if(myForm.hasGlobalErrors){
					<div class="panel panel-danger">
						<div class="panel-heading">Error Submiting Form</div>
				  		<div class="panel-body">
				   			 <ul>
				   			 @for(err <- myForm.globalErrors){
				  				<li> @err.message </li>
				   			 }
				   			 </ul>
				 		</div>
					</div>
					}				
				 <div class="form group" >
				  <!-- onchange="form.confirmPassword.pattern = this.value;" -->
                  <!-- Input email -->
                   <div class='@("form-group has-error".when(myForm("email").hasErrors)) form-group' 
                   		ng-class="{ 'has-error' : userForm.email.$invalid && !userForm.email.$pristine,
                   					'has-success': userForm.email.$valid }">
			     	 <label class="control-label" for="email">Email<span style="color:#AB1403"> *</span></label>
                 	 <input class="form-control" value='@myForm("email").value' type="email" id="email" 
                 	 		name="email" placeholder="Email" ng-minlength="3" ng-model="user.email"
                 	       	required/> 
                 	  	<!-- Email error messages. -->
		           <p ng-show="userForm.email.$error.minlength" class="help-block">Min length is 3.</p>
		           <p ng-show="userForm.email.$error.maxlength" class="help-block">Max length is 20.</p>
		           <p ng-show="userForm.email.$error.email" class="help-block">Email format is not valid</p>		          		           
		          </div>
		          
		          <!-- Password -->
                  <div class='@("form-group has-error".when(myForm("password").hasErrors)) form-group'
                   	   ng-class="{ 'has-error' : userForm.password.$invalid && !userForm.password.$pristine,
                   	   				'has-success': userForm.password.$valid }"	 >
			     	 <label class="control-label" for="password">Password<span style="color:#AB1403"> *</span></label>
					 <input class="form-control" value='@myForm("password").value' id="password" type="password"
					        ng-model="user.password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}" 
					        name="password"  placeholder="Password" ng-minlength="6" ng-maxlength="15"
					        required/>	
				   <p ng-show="userForm.password.$error.minlength" class="help-block">Min length is 6.</p>
		           <p ng-show="userForm.password.$error.maxlength" class="help-block">Max length is 20.</p>
		           <p ng-show="userForm.password.$error.pattern" class="help-block">
		           Password must contain upper case, lower case and number</p>		                
				  </div>
				  
		         <!-- Confirm password -->
		          <div class='@("form-group has-error".when(myForm("password").hasErrors)) form-group'
		          	   ng-class="{ 'has-error' : userForm.confirmPassword.$invalid && !userForm.confirmPassword.$pristine,
		          	   				'has-success': userForm.confirmPassword.$valid}" >
			     	 <label class="control-label" for="confirmPassword">Confirm password<span style="color:#AB1403"> *</span></label>
 					 <input class="form-control" value='@myForm("confirmPassword").value' type="password" 
 					 		required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}" name="confirmPassword" id="confirmPassword"
 							ng-model='user.confirmPassword' ng-minlength="6" ng-maxlength="20"
 							placeholder="Confirm Password: "/>	
 					
 				   <p ng-show="userForm.confirmPassword.$error.minlength" class="help-block">Min length is 6.</p>
		           <p ng-show="userForm.confirmPassword.$error.maxlength" class="help-block">Max length is 20.</p>
		           <p ng-show="userForm.confirmPassword.$error.pattern" class="help-block">
		           		 Password must contain upper case, lower case and number</p>	
 		          </div>
 		          
                 <!-- Username --> 
                <div class='@("form-group has-error".when(myForm("username").hasErrors)) form-group' 
               		 ng-class="{ 'has-error' : userForm.username.$invalid && !userForm.username.$pristine, 
               		  			 'has-success': userForm.username.$valid }" >			     	
			     	 <label class="control-label" for="username">Username<span style="color:#AB1403"> *</span></label>
                     <input class='@("has-error".when(myForm("username").hasErrors)) form-control'
                     		value='@myForm("username").value' type="text" id="username" name="username"
                     		ng-model="user.username" ng-minlength="4" ng-maxlength="45" 
                     		ng-pattern="/^[A-Za-z0-9 _]*[A-Za-z0-9][A-Za-z0-9 _]*$/"
                     		placeholder="Name" required/>	
                   <p ng-show="userForm.username.$error.minlength" class="help-block">Min length is 4.</p>
		           <p ng-show="userForm.username.$error.maxlength" class="help-block">Max length is 45.</p>
		           <p ng-show="userForm.username.$error.pattern" class="help-block">
		            Only letters and numbers alowed.</p>			
 		        </div>
 		        
 		        <!-- Surname -->
                <div class='@("form-group has-error".when(myForm("surname").hasErrors)) form-group'
                	 ng-class="{ 'has-error' : userForm.surname.$invalid && !userForm.surname.$pristine,
                	 			  'has-success': userForm.surname.$valid  }" >
			     	 <label class="control-label" for="surname">Surname<span style="color:#AB1403"> *</span></label>
                     <input class="form-control" value='@myForm("surname").value' type="text" id="surname" 
                    		ng-model="user.surname" ng-minlength="4" ng-maxlength=45"
                     		pattern="(^[\u00BF-\u1FFF\u2C00-\uD7FF\w ]+|[\_]+/ig, )"
                     		name="surname"  onClick="this.select()"  placeholder="Surname" required />	
                   <p ng-show="userForm.surname.$error.minlength" class="help-block">Min length is 4.</p>
		           <p ng-show="userForm.surname.$error.maxlength" class="help-block">Max length is 45.</p>
		           <p ng-show="userForm.surname.$error.pattern" class="help-block">
		            Only letters allowed.</p>
 		        </div>
             	<!-- Birth day -->
                <div class='@("form-group has-error".when(myForm("dob").hasErrors)) form-group' 
                	  ng-class="{ 'has-error' : userForm.dob.$invalid && !userForm.dob.$pristine,
                	  			  'has-success': userForm.dob.$valid	 }" >
			     	 <label class="control-label" for="dob">Date of birth<span style="color:#AB1403"> *</span></label>
                     <input class="form-control datepicker-bit min-dob" value='@myForm("dob").value' id="datepicker"
                      name="dob" type="date" onClick="this.select()" max="1997-01-01" placeholder="Date of birth"
                      ng-model="user.dob" required/>
                      <p ng-show="userForm.dob.$error.date" class="help-block">Date you provided is not alowed</p>
 		        	  <p ng-show="userForm.dob.$error.max" class="help-block">You must be older then 18.</p>
 		        </div> 
 		        <span id="error" style="display:none; color:red"> You are underage of 18 </span>
                
                <!-- GENDER -->
                <label class="radio-inline">
                   <input  value='@myForm("gender").value' type="radio" id="gender-male" name="gender"  value="male" checked /> 
				    Male
                </label>
                <label class="radio-inline">
                  <input  value='@myForm("gender").value' type="radio" id="gender-female" name="gender"  value="female" /> 
				    Female
                </label>
                <br><br>
                <!-- Adress -->
                 <div class='@("form-group has-error".when(myForm("adress").hasErrors)) form-group'
                 	  ng-class="{ 'has-error' : userForm.adress.$invalid && !userForm.adress.$pristine,
                 	  			  'has-success': userForm.adress.$valid}" >
			     	 <label class="control-label" for="adress">Adress<span style="color:#AB1403"> *</span></label>
                     <input class="form-control" value='@myForm("adress").value' type="text" id="adress" name="adress"
                            pattern="(^[\u00BF-\u1FFF\u2C00-\uD7FF\w .,]+|[\_]+/ig, )" 
                            ng-model="user.adress" ng-minlength="6" ng-maxlength="165" placeholder="Adress" required/>  
                    <p ng-show="userForm.adress.$error.minlength" class="help-block">Min length is 6.</p>
		            <p ng-show="userForm.adress.$error.maxlength" class="help-block">Max length is 165.</p>
		            <p ng-show="userForm.adress.$error.pattern" class="help-block">
		             Only letters and numbers allowed.</p>                     
 		        </div>
                <!-- City -->
				<div class='@("form-group has-error".when(myForm("city").hasErrors)) form-group'
					 ng-class="{ 'has-error' : userForm.city.$invalid && !userForm.city.$pristine, 
					 			  'has-success': userForm.city.$valid}" >
			     	 <label class="control-label" for="city">City<span style="color:#AB1403"> *</span></label>
              	     <input class="form-control" value='@myForm("city").value' type="text" id="city" name="city" 
              	     		pattern="(^[\u00BF-\u1FFF\u2C00-\uD7FF\w .]+|[\_]+/ig, )"
              	      		ng-model="user.city" ng-minlength="6" ng-maxlength="165" placeholder="City" required/>
              	    <p ng-show="userForm.city.$error.minlength" class="help-block">Min length is 6.</p>
		            <p ng-show="userForm.city.$error.maxlength" class="help-block">Max length is 165.</p>
		            <p ng-show="userForm.city.$error.pattern" class="help-block">
		             Only letters and numbers allowed.</p> 
 		        </div>                                     
                 
                  <button type="submit" id="submit-user" ng-disabled="!submitForm(userForm.$valid)" class="btn btn-default" >Submit</button>
              	 
              	</div>
               </form>