@(coupons: List[Coupon])(categorys: List[Category])
@import helper._
@main("Welcome to bitCoupon") {
 <header id="header">
   <div class="col-sm-12">
      <div class="container">
         <a href="/"><img src="http://res.cloudinary.com/bitfiles/image/upload/v1430750951/staticImages/logo.png" alt="" /></a>
         <div class="logo pull-right">
            <div class="search_box">
            	
               <button type="button" class="btn-btn default"name="answer" onclick="showDiv('toggle')" style="background: #F0F0E9; border: medium none; color: #B2B2B2; font-family: 'roboto';
                  font-size: 12px; font-weight: 300; height: 35px; outline: medium none; padding-left: 10px; width: 155px; background-position: 130px; margin-left: 5px">@Messages("searchFilter")</button>
                  <button type="button" class="btn-btn default"name="answer"  style="background: #F0F0E9; border: medium none; color: #B2B2B2; font-family: 'roboto';
                  font-size: 12px; font-weight: 300; height: 35px; outline: medium none; padding-left: 10px; width: 155px; background-position: 130px; margin-left: 5px"><a href="/companies">@Messages("searchCompany")</a></button>
               <script type="text/javascript">
                  function showDiv(toggle){
                  document.getElementById(toggle).style.display = 'block';
                  }
               </script>
            </div>
         </div>
         <div class="logo pull-right">
            <div class="search_box">
               <form action="/search" method="GET">
                  <input id="q" name="q" type="text" placeholder="Search" />
               </form>
            </div>
         </div>
      </div>
   </div>
</header>
<div class="container">
<div class="features_items">
   <!--features_items-->
   <div class="row" id="toggle" style="display:none">
      <div class="col-md-12" style="margin: 20px 0" >
      	<div class="col-sm-1"></div>
         <div class="col-sm-5">
         	<div>
            <form action="@routes.CouponController.filterCategory(Coupon.commaSeparatedIds(coupons))" method="POST">
               <select id="category" name="category" required>
                  <option value="" style="display:none">@Messages("selectCategory")</option>
                  @for(category <- categorys) {
                  <option>@category.name</option>
                  }
               </select>
               <input type="submit" class="btn btn-fefault cart"> 
            </form>
            </div>
            <form action="@routes.CouponController.filterPrice(Coupon.commaSeparatedIds(coupons))" method="POST">
               <input type="number" name="start_price" id="start_price" min="1" step="any" placeholder="Price"/>
               <input type="number" name="end_price" id="end_price" min="1" step="any" placeholder="Price"/>
               <input type="submit" class="btn btn-fefault cart"> 
            </form>
            <form action="@routes.CouponController.filterDate(Coupon.commaSeparatedIds(coupons))" method="POST">
               @*	<input type="date" name="dateExpire"  max="2030-1-12"  min="2015-3-10" id="dateExpire" placeholder="Date of expire" required/>
               *@	<input type="date" id="datepicker" name="dateExpire">
               <input type="submit" class="btn btn-fefault cart"> 
            </form>
         </div>
         <div class="col-sm-5">
            <form action="@routes.CouponController.sort(Coupon.commaSeparatedIds(coupons))" method="POST">
               <select id="orderby" name="orderby" required>
                  <option value="" style="display:none">@Messages("orderBy")</option>
                  <option>@Messages("category")</option>
                  <option >@Messages("price")</option>
                  <option>@Messages("date")</option>
               </select>
               <input type="radio" id="method" name="method" value="ascending" checked>@Messages("ascending")
               <input type="radio" id="method" name="method" value="descending">@Messages("descending")
               <input type="submit" class="btn btn-fefault cart">                  
            </form>
         </div>
      </div>
   </div>
   </div>
   </div>
  
   <div class="container">
   <h2 class="title text-center">@Messages("availableCoupons")</h2>
	<div class="container">
   @for(coupon <- coupons){
   	 
		   <div class="col-sm-4">
		         <div class="product-image-wrapper">
		            <div class="single-products">
		               <div class="productinfo text-center">
		                  <img src="@coupon.picture"/>
		                  <h2>@Messages("only") @coupon.getPriceString() @Messages("currency")</h2>
		                  <p>@coupon.name</p>
		                  <a href="/coupon/@coupon.id" class="btn btn-default add-to-cart">@Messages("viewCoupon")</a>
		               </div>
		                <a href="/coupon/@coupon.id" >
		               <div class="product-overlay" >
		                  <div class="overlay-content">
		                  	 <a href="/coupon/@coupon.id" >
		                  	 <p>@coupon.description</p>
		                     <h2> @Messages("only") @coupon.getPriceString() @Messages("currency")</h2>
		                     <p>@coupon.name</p>
		                     <p>@Messages("expiring") @coupon.getExpiration()</p>
		                     <a href="/coupon/@coupon.id" class="btn btn-default add-to-cart">@Messages("viewCoupon")</a>
		                     </a>
		                  </div>
		               </div>  
		            </div>
		         </div>
		      </div>       
        
   }		

   		@for(index <- 0 until Coupon.numberOfEmptyFields() ){
           	 <div class="col-sm-4">
		         <div class="product-image-wrapper">
		            <div class="single-products">
		               <div class="productinfo text-center">
		                  <div class="empty-offer"></div>
		                  <h2> @Messages("bitCoupon") </h2>
		                  <p> @Messages("placeForCoupon")</p>
		               </div>
		            </div>
		         </div>
		      </div>	
		}

}