@(company: Company)(coupons: List[Coupon])

@import helper._

@main("Welcome to bitCoupon") {
	
	
@*	<h2>@message @name</h2>
    <h4>Home: </h4> *@
<body>
<header id="header"><!--header-->
		<div class="col-sm-12"><!--header-middle-->
			<div class="container">
			<a href="/"><img src="@routes.Assets.at("images/home/logo.png")" alt="" /></a>
				<div class="logo pull-right">
			<div class="search_box">
							<form action="/search" method="GET">
							<input id="q" name="q" type="text" placeholder="Search" />
							</form>
							</div>
								</div>	
								</div>		
			
							
				<div class="row">
						</div>
				</div>
			</div>	
		</header>

			<div class="container">
					<div class="features_items"><!--features_items-->
						<h2 class="title text-center">Available Coupons</h2>
			</div>	
			<div class="container">		
				@for(coupon <- coupons){
					
						<div class="col-sm-4">
						<div class="logo pull-left">
							<div class="product-image-wrapper">
								<div class="single-products">
									<div class="productinfo text-center">
									<img src="@routes.Assets.at(coupon.picture)" alt="@routes.Assets.at(coupon.picture)"/>
										<h2>Only @coupon.getPriceString() KM</h2>
										<p>@coupon.name</p>
										<a href="/coupon/@coupon.id" class="btn btn-default add-to-cart">View Coupon</a>
									</div>
									<div class="product-overlay">
										<div class="overlay-content">
											<h2>Only @coupon.getPriceString() KM</h2>
											<p>@coupon.name</p>
											<p>@coupon.getExpiration()</p>
											<a href="/coupon/@coupon.id" class="btn btn-default add-to-cart">View Coupon</a>
										</div>
									</div>
								</div>
							</div>
						</div>
						</div>
			}			
			</div>	
		</ul>
</body>
}

