@(implicit currentUser: User = Sesija.getCurrentUser(ctx()), currentCompany: Company = Sesija.getCurrentCompany(ctx()))
<div class="header_top">
   <!--header_top-->
   <div class="container">
      <div class="col-sm-12">
         <ul class="nav navbar-nav pull-left">
            <li><a href="/faq" class="active"><i class="active"></i> FAQ </a></li>
            <li><a href="/contact" class="active"><i></i> Contact</a></li>
         </ul>
         <ul class="nav navbar-nav pull-right">
            <!-- if statement for enable od disable button in case of login -->	
            @if( currentUser == null && currentCompany == null) {
            <li><a href="/loginpage" class="active"><i class="active"></i> Login </a></li>
            <li><a href="/chooseRegistration" class="active"><i  class="glyphicon glyphicon-user"></i> Registration</a></li>
            } else {
            @if(currentUser != null && currentCompany == null) {
              <li><a href="@routes.UserController.profilePage(currentUser.username)" method="GET" class="active"> @currentUser.username </a></li>
            <li class="dropdown">
               <a href="#" class="dropdown-toggle" data-toggle="dropdown">Menu<strong class="caret"></strong></a>
               <ul class="dropdown-menu">
                  <li><a href="@routes.UserController.userUpdateView">Edit profile</a>
                     @if(Sesija.adminCheck(ctx()) == true) {
                  <li><a href="@routes.UserController.controlPanel(currentUser.id)" class="fa fa-lock">Admin Panel</a></li>
                     }                      
                  <li class="divider">
                  </li>
                  <li><a href="/logout" class="active"><i></i> Logout</a></li>
               </ul>
            </li>
            }
             @if(currentCompany != null && currentUser == null) {
              <li><a href="@routes.CompanyController.companyProfilePage(currentCompany.name)" method="GET" class="active"> @currentCompany.name </a></li>
            <li class="dropdown">
               <a href="#" class="dropdown-toggle" data-toggle="dropdown">Menu<strong class="caret"></strong></a>
               <ul class="dropdown-menu">
                  <li><a href="@routes.UserController.userUpdateView">Edit profile</a>              
                  <li class="divider">
                  </li>
                  <li><a href="/logout" class="active"><i></i> Logout</a></li>
               </ul>
            </li>
            }
            } 	
         </ul>
      </div>
   </div>
</div>