@(implicit superUser: SuperUser = Sesija.getCurrent(ctx()))
<div class="header_top">
   <!--header_top-->
   <div class="container">
      <div class="col-sm-12">
         <ul class="nav navbar-nav pull-left">
            <li><a href="/faq" class="active"><i class="active"></i> FAQ </a></li>
            <li><a href="/contact" class="active"><i></i> Contact</a></li>
         </ul>
         <ul class="nav navbar-nav pull-right">
            <!-- if statement for enable od disable button in case of login -->	
            @if(superUser == null) {
            <li><a href="/loginpage" class="active"><i class="active"></i> Login </a></li>
            <li><a href="/signup" class="active"><i  class="glyphicon glyphicon-user"></i> Registration</a></li>
            } else {
            @if(superUser.isUser()) {
              <li><a href="@routes.SuperUserController.profilePage(superUser.getUser().username)" method="GET" class="active"> @superUser.getUser().username </a></li>
            <li class="dropdown">
               <a href="#" class="dropdown-toggle" data-toggle="dropdown">Menu<strong class="caret"></strong></a>
               <ul class="dropdown-menu">
                  <li><a href="@routes.SuperUserController.userUpdateView">Edit profile</a>
                     @if(Sesija.adminCheck(ctx()) == true) {
                  <li><a href="@routes.UserController.controlPanel(superUser.getUser().id)" class="fa fa-lock">Admin Panel</a></li>
                     }                      
                  <li class="divider">
                  </li>
                  <li><a href="/logout" class="active"><i></i> Logout</a></li>
               </ul>
            </li>
            }
             @if(superUser.isCompany()) {
              <li><a href="@routes.SuperUserController.profilePage(superUser.getCompany().name)" method="GET" class="active"> @superUser.getCompany().name </a></li>
            <li class="dropdown">
               <a href="#" class="dropdown-toggle" data-toggle="dropdown">Menu<strong class="caret"></strong></a>
               <ul class="dropdown-menu">
                  <li><a href="@routes.SuperUserController.userUpdateView">Edit profile</a>              
                  <li class="divider">
                  </li>
                  <li><a href="/logout" class="active"><i></i> Logout</a></li>
               </ul>
            </li>
            }
            } 	
         </ul>
      </div>
   </div>
</div>