@(myForm: Form[User])(companyForm: Form[Company])
@import helper._
@main("Registration"){
 <header id="header"><!--header-->
		<div class="header-middle"><!--header-middle-->
			<div class="container">
			<a href="/"><img src="@routes.Assets.at("images/home/logo.png")" alt="" /></a>
				<div class="logo pull-right">
					<div class="search_box">
					<form action="/search" method="GET">
					<input id="q" name="q" type="text" placeholder="Search" />
					</form>
					</div>
				</div>	
			</div>		
		</div>
	</header>
	<div ng-app="movieApp" ng-controller="movieController">
   <div id="someId" class="container" >
      <div class="features_items">
         <!--features_items-->
         <h2 class="title text-center">Registration</h2>
         <div class="col-sm-6 col-sm-offset-1">
            
               <!--sign up form-->
               <button type="submit" id="companySignup" class="btn btn-default" onClick="registrationForm"> Register as company </button>
               <h4>Sign Up</h4>
	               <div > 
	               @_userForm(myForm)
	           	   </div>
            <br>
           
         </div>
      </div>
   </div>
   <div style="display:none" id="companyRegistration" class="container" >
      <div class="features_items">
         <!--features_items-->
         <h2 class="title text-center">Registration</h2>
         <div class="col-sm-6 col-sm-offset-1" >           
	               <!--sign up form-->
	               <button type="submit" id="signup" class="btn btn-default" onClick="someId"> Register as user </button>
	               <h4>Company Registration</h4>
	               @_companyForm(companyForm)	
            </div>
         </div>
      </div>
   </div>
</div>
   }