@(myForm: Form[User])(companyForm: Form[Company])
@import helper._
@main("Registration"){
 <header id="header"><!--header-->
		<div class="header-middle"><!--header-middle-->
			<div class="container">
			<a href="/"><img src="@routes.Assets.at("images/home/logo.png")" alt="" /></a>
				<div class="logo pull-right">
					<div class="search_box">
					<form action="/search" method="GET">
					<input id="q" name="q" type="text" placeholder="Search" />
					</form>
					</div>
				</div>	
			</div>		
		</div>
	</header>
   <div id="someId" class="container">
      <div class="features_items">
         <!--features_items-->
         <h2 class="title text-center">Registration</h2>
         <div class="col-sm-6 col-sm-offset-1">
            <div class="signup-form">
               <!--sign up form-->
               <button type="submit" id="companySignup" class="btn btn-default" onClick="registrationForm"> Register as company </button>
               <h4>Sign Up</h4>
               
               <form id="myForm" action="@routes.UserController.register" method ="POST" enctype="multipart/form-data" >
				  @if(myForm.hasGlobalErrors){
					<div class="panel panel-danger">
						<div class="panel-heading">Error Submiting Form</div>
				  		<div class="panel-body">
				   			 <ul>
				   			 @for(err <- myForm.globalErrors){
				  				<li> @err.message </li>
				   			 }
				   			 </ul>
				 		</div>
					</div>
					}
               
                  <input value='@myForm("email").value' type="email" id="email" name="email" onClick="this.select()" placeholder="Email" required/> <br>
                  <p> <input value='@myForm("password").value' id="password" type="password" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}" name="password" onchange="form.confirmPassword.pattern = this.value;" placeholder="Password"></p>
				  <p> <input value='@myForm("confirmPassword").value' type="password" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}" name="confirmPassword" id="confirmPassword" placeholder="Confirm Password: "></p>
				  <br>
                  <input value='@myForm("username").value' type="text" id="username" name="username"  onClick="this.select()"  placeholder="Name" required/>	<br>
                  <input value='@myForm("surname").value' type="text" id="surname" name="surname"  onClick="this.select()"  placeholder="Surname" required/>	<br>
                  <br>

                  <p> Date of birth </p>
                  <input value='@myForm("datepicker").value' type="date" id="datepicker" name="dob"  onClick="this.select()"  placeholder="Date of birth" required/>
                   <span id="error" style="display:none; color:red"> You are underage of 18 </span>
                  <input value='@myForm("gender").value' type="radio" id="gender" name="gender" style=" border: 0px;width: 5%;height: 1em;" value="male" required/>Male 
                  <input value='@myForm("gender").value' type="radio" id="gender" name="gender" style=" border: 0px;width: 5%;height: 1em;" value="female" required/>Female 

                  <br>      
                  <br>                            
                  <input value='@myForm("adress").value' type="text" id="adress" name="adress"  onClick="this.select()"  placeholder="Adress" required/><br>                
                  <input value='@myForm("City").value' type="text" id="city" name="city"  onClick="this.select()"  placeholder="City" required/>	<br>
                  <br>
                  <p><input type="submit" value="Submit"></p>
               </form>
            </div>
            
            <!--/sign up form-->
            <br>
           
         </div>
      </div>
   </div>
   <div style="display:none" id="companyRegistration" class="container" >
      <div class="features_items">
         <!--features_items-->
         <h2 class="title text-center">Registration</h2>
         <div class="col-sm-6 col-sm-offset-1">
            <div class="signup-form">
               <!--sign up form-->
               <button type="submit" id="signup" class="btn btn-default" onClick="someId"> Register as user </button>
               <h4>Company Registration</h4>
               <form action="@routes.CompanyController.registerC" method ="POST" enctype="multipart/form-data" >
				  @if(companyForm.hasGlobalErrors){
					<div class="panel panel-danger">
						<div class="panel-heading">Error Submiting Form</div>
				  		<div class="panel-body">
				   			 <ul>
				   			 @for(err <- companyForm.globalErrors){
				  				<li> @err.message </li>
				   			 }
				   			 </ul>
				 		</div>
					</div>
					}
                  <input value='@companyForm("email").value' type="email" id="email" name="email" onClick="this.select()" placeholder="Email" required/> <br>
                  <p> <input value='@companyForm("password").value' id="password" type="password" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}" name="password" onchange="form.confirmPassword.pattern = this.value;" placeholder="Password"></p>
				  <p> <input value='@companyForm("confirmPassword").value' type="password" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}" name="confirmPassword" id="confirmPassword" placeholder="Confirm Password: "></p>
                  <br>
                  <input value='@companyForm("name").value' type="text" id="name" name="name"  onClick="this.select()"  placeholder="Company name" required/>	<br>
                  <input value='@companyForm("contact").value' type="text" id="contact" name="contact"  onClick="this.select()"  placeholder="Company contact" required/>	<br>
                  <input value='@companyForm("logo").value' type="text" id="logo" name="logo" onClick="this.select()" placeholder="Logo" required/> <br>
                  <br>
                  <input value='@companyForm("adress").value' type="text" id="adress" name="adress"  onClick="this.select()"  placeholder="Company adress" required/>	<br>
                  <input value='@companyForm("city").value' type="text" id="city" name="city" onClick="this.select()"  placeholder="City" required/>	<br>
                  <br>
                  <input type="submit" value="Submit"></p>
               </form>
            </div>
         </div>
      </div>
   </div>

   }