@(message: String)(username: String)

@import helper._

@main("E-mail Verification") {
	
	
<body>
<header id="header"><!--header-->
	<div class="header-middle"><!--header-middle-->
		<div class="container">
			<a href="/"><img src="@routes.Assets.at("images/home/logo.png")" alt="" /></a>
			<div class="logo pull-right">
				<div class="search_box">
					<form action="/search" method="GET">
							<input id="q" name="q" type="text" placeholder="Search" />
					</form>
				</div>
			</div>	
				</div>	
				<div class="row">
			</div>
		</div>
	</div>	
</header>
	<div class="container">
	<span>@message</span>
	<br>
	<br>
	<br>

	<form action="@routes.UserController.profilePage(username)" >
							<button type="submit" id="submit" class="btn btn-primary"> Go To Profile Page </button>
						</form>
	
					</div>
</body>
}

